setuptools<81
numba>=0.61,<1.0
librosa>=0.10
scikit-learn>=1.4
scipy>=1.13
numpy>=2.0
matplotlib==3.10.7
joblib==1.5.2
pandas>=2.2
crowsetta>=5.1
multimethod<2.0
attrs==23.2.0
pandera>=0.20
PyYAML==6.0.3
tqdm==4.67.1
reservoirpy>=0.4.0,<1.0
hyperopt==0.2.7
jupyter==1.1.1
Levenshtein>=0.26
panel==1.2.3
param==1.13.0
bokeh==3.2.2
toml==0.10.2
click==8.3.1
ipykernel==6.29.4
pydantic>=2
requests==2.32.5
soundfile==0.13.1
audioread==3.1.0
pillow==12.0.0
py4j==0.10.9.9
pydub==0.25.1
